<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ยินดีต้อนรับสู่ Admin panel</h1>
            <hr class="my-4">
            <h2>
               ข้อมูลส่วนตัว 
            </h2>
            <p>ชื่อ: <%=user.name%>
            </p>
            <p>email: <%=user.email%>
            </p>
            <p>ข้อมูล: <%=user.bio%>
            </p>
            <hr class="my-4">
            <% if (user.isAdmin==='true' ) { %>
                <p>คุณคือ Admin รับ flag ไปเลย!!</p>
                <p>FLAG{BYPASS_THE_LOGIN_PANEL}</p>
                <% } %>
        </div>
    </div>
</body>

</html>