<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SQLI</title>
</head>

<body>
    <div class="container mt-4">

        <h1>มาดูกันว่าปีนี้ใครจะได้ของขวัญอะไรบ้าง!!</h1>
        <hr>
        <form method="GET">
            <label for="person">ชื่อ: </label>
            <input type="text" name="person" id="person">
            <button>Search</button>
        </form>
        <% if (gifts !== undefined){ %>
            <% if (gifts.length == 0) { %>
                <h1>ดูเหมือนคุฌจะไม่ได้รับของขวัญปีนี้ 😭</h1>
            <% } else { %>
            <div class="mt-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ชื่อ</th>
                            <th scope="col">ได้ของขวัญ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% gifts.forEach( gift => { %>
                        <tr>
                            <td><%=gift.person%></td>
                            <td><%=gift.want%></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <% }  %>
        <% }  %>
    </div>
</body>


</html>