<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>คำคมประจำวัน</title>
    <style>

    </style>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="mb-3">คำคมประจำวัน</h1>
            <label for="quote-search">ค้นหาคำคม</label>
            <input type="text" name="quote-search" id="quote-search">
            <hr class="my-4">
            <div id="quotes">

            </div>
        </div>
    </div>

    <script>
        var quotesList = [
            "คาดหวังให้สูงเข้าไว้และแน่ นอนว่าต้องเตรียมใจที่จะพบกับความผิดหวังด้วย",
            "ถ้าอยากจะประสบความสำเร็จ ต้องกล้าที่จะเปลี่ยนแปลงตัวเอง",
            "ถ้าเชื่อว่าไม่แพ้ เราก็จะไม่แพ้",
            "คนเข้มแข็งเท่านั้นที่จะอยู่ บนโลกใบนี้ได้",
            "อุปสรรคล้วนเป็นยาขม ไม่มีใครอยากลิ้มลอง แต่ขึ้นชื่อว่ายาขม ส่วนใหญ่มักเป็นยาดีเสมอ",
            "ขอบคุณความทุกข์ที่ทำให้ความ สุขในคราวต่อมาเป็นความสุขที่แท้จริง",
            "เพื่ออะไรกับการรอคอยที่ไม่ มีความหมาย",
            "ยิ่งบทเรียนยากขึ้นเท่าไหร่ ถ้าเราผ่านมันไปได้เราก็จะยิ่งเก่งขึ้นเท่านั้น",
            "กุหลาบไร้หนามมีเพียงมิตรภาพ เท่านั้น",
            "อย่ากังวลกับสิ่งที่ยังมาไม่ ถึง แต่ให้คำนึงถึงสิ่งที่กำลังทำ",
            "แม้แต่นิ้วของคนเรายังยาวไม่ เท่ากัน นับประสาอะไรกับความยั่งยืนของชีวิต",
            "โลกใบนี้เต็มไปด้วยความ มหัศจรรย์ ถ้าไม่ออกเดินทางก็ไม่มีวันค้นพบ",
            "ไม่มีใครสะดุดภูเขาล้ม มีแต่สะดุดก้อนหินล้ม",
            "ไม่มีใครเข้มแข็งตลอดไปและ ไม่มีใครอ่อนแอตลอดกาล",
            "บางครั้งเราก็เหมือนคนตาบอด มีวิธีเดียวที่จะพาเรามุ่งหน้าไปได้คือการคลำทางเดินหน้าต่อไป",
            "อย่าเกลียดน้ำตาเพราะมันคือ เพื่อนแท้ อย่าเกลียดความอ่อนแอเพียงเพราะมันไม่ใช่ความเข้มแข็ง",
            "มีเพียงชีวิตที่ทำเพื่อคน อื่นเท่านั้นที่ควรค่าแก่การมีชีวิต",
            "ทุกอย่างมีค่าเสมอ อย่างน้อยก็ทำให้เรารู้ว่าไม่ควรจะทำมันอีก",
            "คนฉลาดย่อมไม่นำแต่ตาม ย่อมไม่พูดแต่ฟัง",
            "ทุกคนได้ยินในสิ่งที่คุณพูด แต่เพื่อนที่ดีที่สุดจะได้ยินแม้ในสิ่งที่คุณไม่ได้พูด",
            "อวดโง่ดีกว่าอวดฉลาด",
            "คนที่ว่าคนอื่นโง่ บุคคลนั้นโง่ยิ่งกว่า คนที่ว่าคนอื่นฉลาด บุคคลนั้นคือผู้ฉลาดอย่างแท้จริง",
            "ฝันได้แต่อย่าหวัง",
            "เรียนรู้ที่จะแพ้อย่างผู้ชนะ แล้วจะรู้จักกับคำว่าชัยชนะที่แท้จริง",
            "นักปราชญ์ควรรู้ว่าเมื่อไหร่ ควรหยุด",
            "ความยึดถือคือความเจ็บปวด",
            "พระเจ้าไม่ได้รักเรามากกว่า คนอื่น และไม่ได้รักคนอื่นมากกว่าเรา",
            "อุปสรรคคือแบบทดสอบของชีวิต",
            "ไม่มีอะไรแน่นอนในชีวิต",
            "สิ่งร้ายๆจะมาพร้อมกับสิ่ง ดีๆเสมอ",
            "โลกใบนี้ยังมีมุมดีๆให้มอง",
            "ตัวเรายังไม่ได้ดั่งใจเรา แล้วคนอื่นจะเป็นได้อย่างไร",
            "ถนนบางสายไกลหน่อยแต่ก็ยังมี วันถึง",
            "แต่งหน้าด้วยเครื่องสำอาง แต่งใจด้วยความดี",
            "ความเจ็บปวดทำให้หัวใจแข็ง แกร่ง",
            "เดินคนเดียวอาจไม่รู้สึกดี อะไร แต่อย่างน้อยก็มีที่แกว่งแขนมากขึ้น",
            "ทำวันนี้ให้ดีที่สุด แล้วทำวันพรุ่งนี้ให้ดีกว่าเดิม",
            "ความผิดพลาดเกิดขึ้นได้เพราะ ทุกปัญหาแก้ไขได้",
            "ถ้าไม่ลองก้าวจะรู้ได้อย่าง ไรว่าตัวเองวิ่งได้",
            "ตึกสูงระฟ้ามาจากก้อนอิฐ",
            "ใช้ชีวิตอยู่กับความจริง ยอมรับสิ่งที่เป็น มองเห็นข้อดีคนอื่น หยัดยืนด้วยขาตัวเอง",
            "เราจะรู้รสชาติของความสุขก็ ต่อเมื่อเราผ่านความทุกข์มาก่อน",
            "ปัญหามีไว้แก้ และต้องแก้ด้วยตัวเองไม่ใช่ยืมมือคนอื่นมาแก้",
            "จุดเริ่มต้นของความสัมพันธ์ คือความเชื่อใจ",
            "ทุกคนมีคุณค่าเพียงแต่มี โอกาสแสดงคุณค่าไม่เท่ากัน",
            "บางทีการได้เจอปัญหามันก็ดี เหมือนกัน",
            "สิ่งที่ผ่านมาแล้วจะกลับไป แก้ไขอะไรไม่ได้อีก",
            "ไม่ว่าใครจะตายหรือหายไป สุดท้ายโลกก็ยังหมุนต่ออยู่ดี",
            "น้ำตาให้ได้แค่ความเห็นใจ",
            "ในการที่จะเริ่มต้นทำสิ่งใด ทุกครั้งควรคิดถึงจุดจบด้วย",
        ];

        function findMatchQuote() {
            const search = decodeURI(window.location.hash).replace("#", "");
            const matchesQuote = quotesList.filter((q) => q.includes(search));
            quotes.innerHTML = "คำคมที่มีคำว่า " + search + ": "
            matchesQuote.forEach(q => {
                quotes.innerHTML += "<p>" + q + "</p>"
            });
        }

        findMatchQuote();

        window.onhashchange = function () {
            const search = decodeURI(window.location.hash).replace("#", "");
            const matchesQuote = quotesList.filter((q) => q.includes(search));
            quotes.innerHTML = "คำคมที่มีคำว่า " + search + ": "
            matchesQuote.forEach(q => {
                quotes.innerHTML += "<p>" + q + "</p>"
            });
        }

        function searchQuote(text) {
            location.hash = text;
        }
        const searchForm = document.getElementById("quote-search");
        searchForm.onchange = function (e) {
            searchQuote(e.target.value);
        }
    </script>
</body>

</html>