<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML playground</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form method="post" id="xml-form">
            <div class="d-flex flex-column justify-content-center">
                <div class="form-group">
                    <label for="xml-form">XML ของคุณที่นี่</label>
                    <textarea name="xml" id="xml-form" class="form-control" cols="10" rows="15"></textarea>
                </div>
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
        <hr>
        {% if parsed_xml %}
        <form onsubmit="">
            <div class="result form-group">
                ผลลัพทธ์: <br>
                <textarea class="form-control" name="result" id="result" cols="10" rows="15" disabled>{{parsed_xml}}
                </textarea>
            </div>
        </form>
        {% endif %}
    </div>
</body>

</html>