<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog ของผม</title>
</head>

<body>
    <%- include('./blog-nav.ejs') %>
    <% if (blogs) { %>
        <hr>
        <% blogs.forEach(blog => { %>
            <div class="blog">
                <a href="blog/<%=blog.id%>"><h3><%=blog.title%></h3></a>
                เขียนโดย <%=blog.by%>
            </div>
            <hr>
        <% }) %>
    <% } else { %>
        <p>No Blog....</p>
    <% } %>
</body>

</html>