<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog ของผม</title>
</head>

<body>

    <%- include('./blog-nav.ejs') %>

    <form action="forget-password" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <label for="username">คำถามที่เลือกตอนสร้างแอคเคาท์ </label>
        <select name="question" id="question">
            <option value="อาหารที่ชอบทาน">อาหารที่ชอบทาน</option>
            <option value="ชื่อที่เพื่อนตั้งให้ในวัยเด็ก">ชื่อที่เพื่อนตั้งให้ในวัยเด็ก</option>
            <option value="ชื่อของสัตว์เลี้ยงที่ชอบ">ชื่อของสัตว์เลี้ยงที่ชอบ</option>
            <option value="สถานที่ที่อยากไปมากที่สุด">สถานที่ที่อยากไปมากที่สุด</option>
        </select>
        <label for="answer">คำตอบของคำถามที่เลือก: </label>
        <input type="text" name="answer" id="answer">
        
        <label for="password">password ใหม่: </label>
        <input type="password" name="password" id="password">
        <button>Reset Password</button>
    </form>
    <% if (err) { %>
        <p><%=err%></p>
    <% } %>

</html>