<div>
    <ul>
        <li><a href="/broken-auth/blog">Home</a></li>
        <li><a href="/broken-auth/blog-login">Login</a></li>
        <li><a href="/broken-auth/forget-password">Reset Password</a></li>
    </ul>
</div>