{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Home</h1>
  <p class="important">
    ยินดีต้อนรับสู่คลังเก็บความลับของเรา คุณจะสามารถเก็บความลับของคุณไว้โดยที่ไม่มีใครแอบมาอ่านได้!! เก็บความลับของคุณกับเราวันนี้เริ่มต้น FREE ไม่มีค่าใช้จ่าย!!
  </p>

  <div>
    Feedback จากผู้ใช้

    <div>
      username: Dang
      <p>"เป็นที่เก็บความลับได้อย่างดี ทำให้ผมไม่ใจว่าความลับของผมจะไม่ถูกเปิดเผยที่ไหนแน่นอน"</p>
    </div>

    <div>
      username: John
      <p>"ระบบใช้งานได้ดีมาก ไม่ว่าจะเป็นความลับแบบไหนคุณก็ไม่ต้องกังวลว่าจะถูกเปิดโปง ทำให้ผมลืมความกังวลในชีวิตไปได้หมดเลย"</p>
    </div>
  </div>
{% endblock %}