{% extends "base.html" %}

{% block content %}
<h1>register</h1>
<form method="post" id="mainForm">
    <input type="text" name="username" id="username" placeholder="username">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="password" name="password2" id="password2" placeholder="re-enter password">
    <button>Register</button>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}