<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obfusication</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <form id="mainForm">
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" name="username" id="username" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" name="password" id="password" required class="form-control">
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>

    <script>
        var _0x17d6=['ล็อกอินได้สำเร็จเย้!\x20\x46\x4C\x41\x47\x7B\x4D\x41\x4B\x45\x5F\x49\x54\x5F\x55\x4E\x52\x45\x41\x44\x41\x42\x4C\x45\x36\x32\x33\x35\x31\x7D','admin','\x45\x58\x70\x6C\x73\x34\x35\x41\x71\x36','preventDefault','onsubmit','value'];(function(_0x7bbf3c,_0x5c6cdf){var _0x17d647=function(_0x373f6b){while(--_0x373f6b){_0x7bbf3c['push'](_0x7bbf3c['shift']());}};_0x17d647(++_0x5c6cdf);}(_0x17d6,0x14a));var _0x373f=function(_0x7bbf3c,_0x5c6cdf){_0x7bbf3c=_0x7bbf3c-0xbf;var _0x17d647=_0x17d6[_0x7bbf3c];return _0x17d647;};var _0x423390=_0x373f;mainForm[_0x423390(0xc3)]=function(_0x51f7f7){var _0x1f1dff=_0x423390;_0x51f7f7[_0x1f1dff(0xc2)](),username[_0x1f1dff(0xc4)]==_0x1f1dff(0xc0)&&password[_0x1f1dff(0xc4)]==_0x1f1dff(0xc1)?alert(_0x1f1dff(0xbf)):alert('username\x20หรือ\x20password\x20ผิด\x20ลองใหม่อีกครั้ง');};
    </script>
</body>
</html>