<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDOR2</title>
</head>

<body>
    <div class="container">
        <h1 class="my-4">ข้อมูลส่วนตัว</h1>
        <hr>
        <p class="lead">username: <%=user.username%>
        </p>
        <p class="lead">information: <%=user.information%>
        </p>
        <% if (user.isAdmin=="true" ) { %>
            <p>FLAG{UNSAFE_COOKIES_SETTING}</p>
        <% } %>
    </div>
</body>

</html>