<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDOR2</title>
</head>

<body>
    <form method="post" id="sign-in-form">
        <input type="text" name="username" id="username">
        <input type="password" name="password" id="password">
        <input type="hidden" name="mode" value="sign-in">
        <button>sign-in</button>
    </form>
    <hr>
    <form method="post" id="register-form">
        <input type="text" name="username" id="username">
        <input type="password" name="password" id="password">
        <textarea name="information" id="information" cols="30" rows="10"></textarea>
        <input type="hidden" name="mode" value="register">
        <button>register</button>
    </form>

    <% if (err !== undefined) { %>
    <h1>Error: <%=err%></h1>
    <% } %>
</body>

</html>